/*
grey : #a3a8a5
black : #141414
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  height: 100%;
  font-family: "Poppins";
  box-sizing: border-box;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
  }

div#first-big-div , div#second-big-div{
    padding-top: 50px;
    background-color: #141414;
    background-image: url("./wavelight.svg");
    background-position-y:bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

div#second-big-div {
    display: block;
    background-image: url("./wavedark.svg");
    padding-top: 0px;
    background-color: #a3a8a5;
    height: auto;
    padding-bottom: 400px;
}

nav {
    font-size: 22px;
    border-radius: 12px;
    background-color: #141414;
    box-shadow: 0px 0px 25px 1px #a3a3a3;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    display: flex;
    height: 40px;   
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #a3a3a3;
}

.content-body {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    justify-content: space-between;
    margin-top: 55px;
  }
  
  .content-body h1 {
    font-size: 64px;
    color: #eaeaea;
    font-weight: lighter;
  }
  
  .content-body aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #button  {
    background-color: #eaeaea;
    font-size: 22px;
    padding: 15px;
    width: 180px;
    font-weight: 900;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.25);
  }

  div#stats-container {
    padding-top: 0px;
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
  }

  div.stat-card {
    text-align: center;
    margin: 0 auto;
    border-radius: 35px;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.35);
    padding: 18px;
    background-color: #141414;
    color: #eaeaea;
    font-size: 18px;
  }

  div#button a {
      text-decoration: none;
      color: #141414;
  }
  
footer {
    height: 200px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    width: 100%;
}

#footer-shit {
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: #eaeaea;
    margin: 0 auto;
  }

  footer ul {
    list-style: none;
  }
  
  footer h1 {
    font-size: 24px;
    font-weight: lighter;
    color: #eaeaea;
  }
  
  footer ul li a {
      text-decoration: none;
      font-size: 16px;
    font-weight: normal;
    color: #eaeaea;
  }

  div.feature-container {
      padding-top: 0px;
      display: flex;
      margin: 0 auto;
      width: 70%;
      justify-content: space-between;
  }

  h1.feature-head {
      font-size: 28px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      font-weight: 800;
      padding-top: 0px;
      padding-bottom: 20px;
      color: #141414;
  }

  div.feature-card {
      background-color: #141414;
      border-radius: 18px;
      margin: 0 auto;
      height: 200px;
      margin-bottom: 30px;
      margin-top: 15px;
      color: #a3a8a5;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.35);
    padding: 18px;
  }

  @media only screen and (max-width:800px) {
      img#bot-pfp{
          display: none;
      }
      nav {
          height: auto;
          display: block;
      }
      nav a {
          display: block;
          padding-bottom: 8px;
      }
      div.feature-container {
          display: block;
      }
      div#second-big-div {
          padding-bottom: 100px;
      }
      div#stats-container {
          display: block;
      }
      div.stat-card {
          margin-bottom: 20px;
      }
  }

.custom-select {
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: Arial;
}

.custom-select select {
    display: none;
}

.select-selected {
    border-radius: 10px;
    background-color: #141414;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;  
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #a3a8a5;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(24, 23, 23, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #141414;
    top: 100%;
    left: 0;
    border-radius: 8px;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(206, 198, 198, 0.1);
}

.command-div {
    background-color: #141414;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.55);
    border-radius: 18px;
    width: 70%;
    color: #d1cfcf;
    margin: 0% auto;
    height: auto;
    padding: 25px;
    display: none;
}

.command-name-head {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #a3a3a3;
}

.commands-visible {
    display: block;
}